.friendrow {
    display: flex;
    color: rgba(0,0,0,0.8);
    margin-top: 85px;
    overflow-x: auto;
}

.friend {
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        object-position: left;
    }
    font-size: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
