header {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background-color: rgb(165, 153, 153);

    .logo {
        height: 50px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 80px;
    }
}
